<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/main.css">
    <title>MPBC</title>
</head>

<body>
    <nav class="main-nav">
        <div class="brand">MPBC</div>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/beerfinder">Beer Finder</a></li>
            <li><a href="/beerwallet">Beer Wallet</a></li>
            <li><a href="/admin">Admin</a></li>
            
        </ul>
    </nav>
    <%- body %>
</body>
</html>